frr defaults traditional
hostname vpngw
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
router bgp 65534
$neighbor$
!
address-family ipv4 unicast
  redistribute connected
$route-map$
exit-address-family
!
route-map gcp permit 10
!
line vty
!